.ROOT {

    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.WIDGET {

    width: 90vw;
    height: 90vh;

    color: white;
    max-width: 1000px;
    max-height: 800px;
    background-color: rgba(198, 198, 186, 0.85);
    backdrop-filter: blur(40px);
}